#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  margin-left: 50px;
}

.cardInput {
  display: inline-block;
  margin-left: 10px;
}

.read-the-docs {
  color: #888;
}
